.room {
	width: 200px;
	height: 150px;
	background-color: #309970;
	color: white;
/*	margin: 10px; */
}

.room h1 {
	font-size: 16px;
}

.room a {
	color: white;
}

.details {
	width: 240px;
	margin: 10px;
	background-color: blue;
	color: white;
	float: left;
}

.selected {
	border: 2px #01FF70 solid;
}

/*
#rooms {
	width: 720px;
	float: left;
}

#overview {
	width: 200px;
	float: left;
}
*/
#roomDetails {
	width: 400px;
	border: 3px solid black;
/*	float: right; */
	padding: 20px;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

#dialog-login {
	width: 400px;
	height: 400px;
}

/* for UI modal */
.ui-modal {
	z-index: 99;
    position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}
 
/* CSS centering: http://css-tricks.com/centering-in-the-unknown/ */
/* The ghost, nudged to maintain perfect centering */
.ui-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
 
.ui-modal .close {
	z-index: 999;
	position: absolute;
	top : 10px;
	right : 10px;
}
 
 
.ui-modal .overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
	background: rgba(0,0,0, 0.5);
	width: 100%;
	height: 100%;
}
 
.ui-modal .content {
    z-index: 999;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    padding: 30px;
    border: 3px black solid;
    border-radius: 2px;
}
 
/* FB theme */
 
.fb.ui-modal.fb {
	top: 50%;
	left: 50%;
	background: rgba(0,0,0, 0.5);
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 16px;
}
 
.fb.ui-modal .content {
	position: relative;
	background: #eee;
	padding: 8px;
	width: 100%;
	height: 100%;
}
 
.fb.ui-modal article {
	height: 100%;
}